//font-color
$WHITE: #fff;
$BLACK: #333;
$FONT-COLOR-BLACK: #333;
$LINK_BLUE: #0099e8;
$GRAY: #888;

//background-color
$MAIN_RED: #ea352d;
$MAIN_BACKGROUND: #f5f5f5;
$INPUT_BACKGROUND: #fafafa;
$FOOTER_BACKGROUND: #212121;
$FILE_INPUT_BACKGROUND: #f5f5f5;
$SP_GRAY: #eee;
$BORDER_GRAY: #ccc;
$BTN_GRAY: #aaa;
