//font-color
$WHITE: #fff;
$BLACK: #333;
$FONT-COLOR-BLACK: #333;
$LINK_BLUE: #0099e8;
$LANDMARK-GRAY: #444;


//background-color
$MAIN_RED: #ea352d;
$MAIN_BACKGROUND: #f5f5f5;
$INPUT_BACKGROUND: #fafafa;
$FOOTER_BACKGROUND: #212121;
$SP_GRAY: #eee;
$FACEBOOK_BACKGROUND: #385185;
$GOOGLE_BACKGROUND: #dc4e41;
$PROGBAR_BACKGROUND: #ddd;

//border-solid
$GRAY: #ccc;
