%footer.single-footer
  %nav
    %ul.clearfix
      .single-footer-content
        =link_to "プライバシーポリシー","https://www.mercari.com/jp/privacy/"
      .single-footer-content
        =link_to "メルカリ利用規約","https://www.mercari.com/jp/tos/"
      .single-footer-content
        =link_to "特定商取引に関する表記","https://www.mercari.com/jp/tokutei"
  =link_to image_tag("//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?3942658967", alt: "mercari", height: "65", width: "80"),"http://www.mercari.com/jp/"
  .single-footer-logo
    %small ©︎ 2019 Mercari
