@media screen and (min-width: 768px){
  .pickup-items__box{
    margin: 0 0 0 20px;
    width: 213px;
    &:nth-child(5n+1){
      margin-left: 0;
    }
    &:nth-child(odd){
      margin: 0 0 0 20px;
    }
    figure{
      width: 213px;
    }
    &-photo{
      width: 220px;
      height: 220px;
    }
    &-price{
      font-size: 16px;
    }
  }
}

@media screen and (min-width: 1068px){
  .pickup-items__box{
    // width: 188px;
    &-price{
      font-size: 20px;
    }
  }
}
