@media screen and (min-width: 768px){
  .footer__sell-btn{
    bottom: 32px;
    right: 32px;
    width: 160px;
    height: 160px;
    font-size: 22px;
    & div{
      margin: 32px 0 0;
    }
    .fa-camera{
      margin: 8px 0 0;
      font-size: 54px;
    }
  }

}
