
%body
  .sms-single-container
    %header.single-header
      .flex-parent
        .flex-child-img
          %h1
            =link_to image_tag("logo.svg"),root_path
        .flex-child-prog
          %ul.prog-bar.active
            %li.prog-unit.active
              .prog-landmark 会員情報
            %li.prog-unit.active
              .prog-landmark.active 電話番号認証
              .prog-status
            %li.prog-unit
              .prog-landmark 住所入力
            %li.prog-unit
              .prog-landmark 支払い方法
            %li.prog-unit
              .prog-landmark 完了
    .sertification-single-main
      %section.sertification-single-single-container
        %h2.sertification-chapter-head
          電話番号の確認
          .sms-single-inner-lower
            .sms-single-content
              .form-group-sms
                携帯電話の番号
                %input{type:"text", placeholder:"携帯電話の番号を入力", class: "login-input-text"}
                %p
                  本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
                  =link_to user_telephone_confirm_path(current_user), class: "btn-red" do
                    smsを送信する
                %p ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
              .form-group-sms-text-right
                = link_to "電話番号の確認が必要な理由"

= render "devise/shared/footer"

