.footer-wrapper
  %nav
    %ul
      %li.footer-content
        %h2.footer-content__head
          メルカリについて
        %ul
          %li
            %a=link_to'会社概要（運営会社）', '/items/1/edit'
          %li
            %a{href:"/"}
              プライバシーポリシー
          %li
            %a{href:"/"}
              メルカリ利用規約
          %li
            %a{href:"/"}
              メルカリ利用規約・有償ポイントに関する特約
          %li
            %a{href:"/"}
              安心スマホサポート制度に関する利用特約
          %li
            %a{href:"/"}
              コンプライアンスポリシー
          %li
            %a{href:"/"}
              個人データの安全管理にかかる基本方針
          %li
            %a{href:"/"}
              特定商取引に関する表記
          %li
            %a{href:"/"}
              資金決済法に基づく表示
          %li
            %a{href:"/"}
              法令遵守と犯罪抑止のために
          %li
            %a{href:"/"}
              採用情報
      %li.footer-content
        %h2.footer-content__head
          メルカリを見る
        %ul
          %li
            %a{href:"/"}
              カテゴリー一覧
          %li
            %a{href:"/"}
              ブランド一覧
          %li
            %a{href:"/"}
              出品地域一覧
          %li
            %a{href:"/"}
              公式ブログ
          %li
            %a{href:"/"}
              公式Twitter
          %li
            %a{href:"/"}
              公式Facebook
      %li.footer-content
        %h2.footer-content__head
          ヘルプ&ガイド
        %ul
          %li
            %a{href:"/"}
              メルカリガイド
          %li
            %a{href:"/"}
              メルカリロゴ利用ガイドライン
          %li
            %a{href:"/"}
              お知らせ
          %li
            %a{href:"/"}
              らくらくメルカリ便とは
          %li
            %a{href:"/"}
              ゆうゆうメルカリ便とは
          %li
            %a{href:"/"}
              大型らくらくメルカリ便とは
          %li
            %a{href:"/"}
              車体取引ガイド
          %li
            %a{href:"/"}
              返品・返金ポリシー
          %li
            %a{href:"/"}
              メルカリあんしん・あんぜん宣言！
          %li
            %a{href:"/"}
              偽ブランド品撲滅への取り組み
          %li
            %a{href:"/"}
              メルカリボックス
      %li.footer-content
        %h2.footer-content__head
          国
        %ul
          %li
            %a{href:"/"}
              = image_tag "flag_us.png"
              United States
          %li
            %a{href:"/"}
              = image_tag "flag_uk.png"
              United Kingdom
          %li
            %a{href:"/"}
              = image_tag "flag_jp.png"
              日本
  %a.footer__logo{href:"/"}
    = image_tag "logo-white.svg", width:"124", height:"33"
  %p.footer__copyright
    ©️ 2019 Wercali
