.footer-wrapper
  %nav
    %ul
      %li.footer-content
        %h2.footer-content__head
          メルカリについて
        %ul
          %li
            %a{href:"/"}
              会社概要(運営会社)
          %li
            %a{href:"/"}
          %li
            %a{href:"/"}
          %li
            %a{href:"/"}
          %li
            %a{href:"/"}
          %li
            %a{href:"/"}
          %li
            %a{href:"/"}
          %li
            %a{href:"/"}
          %li
            %a{href:"/"}
          %li
            %a{href:"/"}
          %li
            %a{href:"/"}
      %li.footer-content
        %h2.footer-content__head
          メルカリについて
        %ul
          %li
            %a{href:"/"}
              会社概要(運営会社)
          %li
            %a{href:"/"}
          %li
            %a{href:"/"}
          %li
            %a{href:"/"}
          %li
            %a{href:"/"}
          %li
            %a{href:"/"}
          %li
            %a{href:"/"}
          %li
            %a{href:"/"}
          %li
            %a{href:"/"}
          %li
            %a{href:"/"}
          %li
            %a{href:"/"}
      %li.footer-content
        %h2.footer-content__head
          メルカリについて
        %ul
          %li
            %a{href:"/"}
              会社概要(運営会社)
          %li
            %a{href:"/"}
          %li
            %a{href:"/"}
          %li
            %a{href:"/"}
          %li
            %a{href:"/"}
          %li
            %a{href:"/"}
          %li
            %a{href:"/"}
          %li
            %a{href:"/"}
          %li
            %a{href:"/"}
          %li
            %a{href:"/"}
          %li
            %a{href:"/"}
      %li.footer-content
        %h2.footer-content__head
          メルカリについて
        %ul
          %li
            %a{href:"/"}
              会社概要(運営会社)
          %li
            %a{href:"/"}
          %li
            %a{href:"/"}
          %li
            %a{href:"/"}
          %li
            %a{href:"/"}
          %li
            %a{href:"/"}
          %li
            %a{href:"/"}
          %li
            %a{href:"/"}
          %li
            %a{href:"/"}
          %li
            %a{href:"/"}
          %li
            %a{href:"/"}
