.footer-wrapper
  %nav
    %ul
      %li.footer-content
        %h2.footer-content__head
          メルカリについて
        %ul
          %li
            =link_to'会社概要（運営会社）', root_path
          %li
            =link_to'プライバシーポリシー', root_path

          %li
            =link_to'メルカリ利用規約', root_path

          %li
            =link_to'メルカリ利用規約・有償ポイントに関する特約', root_path

          %li
            =link_to'安心スマホサポート制度に関する利用特約', root_path

          %li
            =link_to'コンプライアンスポリシー', root_path

          %li
            =link_to'個人データの安全管理にかかる基本方針', root_path

          %li
            =link_to'特定商取引に関する表記', root_path

          %li
            =link_to'資金決済法に基づく表示', root_path

          %li
            =link_to'法令遵守と犯罪抑止のために', root_path

          %li
            =link_to'採用情報', root_path

      %li.footer-content
        %h2.footer-content__head
          メルカリを見る
        %ul
          %li
            =link_to'カテゴリー一覧', root_path

          %li
            =link_to'ブランド一覧', root_path

          %li
            =link_to'出品地域一覧', root_path

          %li
            =link_to'公式ブログ', root_path

          %li
            =link_to'公式Twitter', root_path

          %li
            =link_to'公式Facebook', root_path

      %li.footer-content
        %h2.footer-content__head
          ヘルプ&ガイド
        %ul
          %li
            =link_to'メルカリガイド', root_path

          %li
            =link_to'メルカリロゴ利用ガイドライン', root_path

          %li
            =link_to'お知らせ', root_path

          %li
            =link_to'らくらくメルカリ便とは', root_path

          %li
            =link_to'ゆうゆうメルカリ便とは', root_path

          %li
            =link_to'大型らくらくメルカリ便とは', root_path

          %li
            =link_to'車体取引ガイド', root_path

          %li
            =link_to'返品・返金ポリシー', root_path

          %li
            =link_to'メルカリあんしん・あんぜん宣言！', root_path

          %li
            =link_to'偽ブランド品撲滅への取り組み', root_path

          %li
            =link_to'メルカリボックス', root_path

      %li.footer-content
        %h2.footer-content__head
          国
        %ul
          %li
            =link_to root_path do
              = image_tag "flag_us.png"
              United States
          %li
            =link_to root_path do
              = image_tag "flag_uk.png"
              United Kingdom
          %li
            =link_to root_path do
              = image_tag "flag_jp.png"
              日本
  %a.footer__logo{href:"/"}
    = image_tag "logo-white.svg", width:"124", height:"33"
  %p.footer__copyright
    ©️ 2019 Wercali
