.mypage-main__sidebar
	%nav.mypage-main__sidebar-content
		%ul.mypage-main__sidebar-lists
			%li.mypage-main__sidebar-list
				=link_to 'マイページ', root_path, class: 'mypage-main__sidebar-lists-item'
				%i.fa.fa-angle-right
			%li.mypage-main__sidebar-list
				=link_to 'お知らせ', root_path, class: 'mypage-main__sidebar-lists-item'
				%i.fa.fa-angle-right
			%li.mypage-main__sidebar-list
				=link_to 'やることリスト', root_path, class: 'mypage-main__sidebar-lists-item'
				%i.fa.fa-angle-right
			%li.mypage-main__sidebar-list
				=link_to 'いいね！一覧', root_path, class: 'mypage-main__sidebar-lists-item'
				%i.fa.fa-angle-right
			%li.mypage-main__sidebar-list
				=link_to '出品する', root_path, class: 'mypage-main__sidebar-lists-item'
				%i.fa.fa-angle-right
			%li.mypage-main__sidebar-list
				=link_to '出品した商品-出品中', root_path, class: 'mypage-main__sidebar-lists-item'
				%i.fa.fa-angle-right
			%li.mypage-main__sidebar-list
				=link_to '出品した商品-取引中', root_path, class: 'mypage-main__sidebar-lists-item'
				%i.fa.fa-angle-right
			%li.mypage-main__sidebar-list
				=link_to '出品した商品-売却済み', root_path, class: 'mypage-main__sidebar-lists-item'
				%i.fa.fa-angle-right
			%li.mypage-main__sidebar-list
				=link_to '購入した商品-取引中', root_path, class: 'mypage-main__sidebar-lists-item'
				%i.fa.fa-angle-right
			%li.mypage-main__sidebar-list
				=link_to 'ニュース一覧', root_path, class: 'mypage-main__sidebar-lists-item'
				%i.fa.fa-angle-right
			%li.mypage-main__sidebar-list
				=link_to '評価一覧', root_path, class: 'mypage-main__sidebar-lists-item'
				%i.fa.fa-angle-right
			%li.mypage-main__sidebar-list
				=link_to 'ガイド', root_path, class: 'mypage-main__sidebar-lists-item'
				%i.fa.fa-angle-right
			%li.mypage-main__sidebar-list
				=link_to 'お問い合わせ', root_path, class: 'mypage-main__sidebar-lists-item'
				%i.fa.fa-angle-right
		%h3.mypage-main__sidebar-heads 売上・ポイント
		%ul.mypage-main__sidebar-lists
			%li.mypage-main__sidebar-list
				=link_to '売上・振込申請', root_path, class: 'mypage-main__sidebar-lists-item'
				%i.fa.fa-angle-right
			%li.mypage-main__sidebar-list
				=link_to 'ポイント', root_path, class: 'mypage-main__sidebar-lists-item'
				%i.fa.fa-angle-right
		%h3.mypage-main__sidebar-heads 設定
		%ul.mypage-main__sidebar-lists
			%li.mypage-main__sidebar-list
				=link_to 'プロフィール', root_path, class: 'mypage-main__sidebar-lists-item'
				%i.fa.fa-angle-right
			%li.mypage-main__sidebar-list
				=link_to '住所変更', root_path, class: 'mypage-main__sidebar-lists-item'
				%i.fa.fa-angle-right
			%li.mypage-main__sidebar-list
				=link_to '支払い方法', root_path, class: 'mypage-main__sidebar-lists-item'
				%i.fa.fa-angle-right
			%li.mypage-main__sidebar-list
				=link_to 'メール/パスワード', root_path, class: 'mypage-main__sidebar-lists-item'
				%i.fa.fa-angle-right
			%li.mypage-main__sidebar-list
				=link_to '本人確認', edit_user_path(current_user), class: 'mypage-main__sidebar-lists-item'
				%i.fa.fa-angle-right
			%li.mypage-main__sidebar-list
				=link_to '電話番号の確認', root_path, class: 'mypage-main__sidebar-lists-item'
				%i.fa.fa-angle-right
			%li.mypage-main__sidebar-list
				=link_to 'ログアウト', user_logout_path(current_user), class: 'mypage-main__sidebar-lists-item'
				%i.fa.fa-angle-right
