.pickup-items__content.clearfix
  - items.each do |item|
    = render partial: 'partial/items/pickup-items-box', locals: {item: item }

  .pickup-items__view-all
    %a= link_to 'すべての商品を見る', root_path
