%section.pickup-items__container.clearfix
  %h3.pickup-items__container-head
    %a{href:"/"}
      レディース 新着アイテム

  .pickup-items__content.clearfix

    %section.pickup-items__box
      %a{href:"/"}
        %figure.pickup-items__box-photo
          %img.lazyloaded{src: "<%= image_tag "items/m24277974597_1.jpg" %>", alt:"mer", width:"100%"}
        .pickup-items__box-body
          %h3.pickup-items__box-name
            商品の名前だよ
          .pickup-items__box-value.clearfix
            .pickup-items__box-price
              ¥ 3,000
            .pickup-items__box-likes
              %i.far.fa-heart
              %span
                1
            %p.pickup-items__box-tax
              (税込)

    %section.pickup-items__box
      %a{href:"/"}
        %figure.pickup-items__box-photo
          %img.lazyloaded{src: "<%= image_tag "items/m298731452247_1.jpg" %>", alt:"mer", width:"100%"}
        .pickup-items__box-body
          %h3.pickup-items__box-name
            商品の名前だよitem_nameitem_name
          .pickup-items__box-value.clearfix
            .pickup-items__box-price
              ¥ 3,000
            .pickup-items__box-likes
              %i.far.fa-heart
              %span
                1
            %p.pickup-items__box-tax
              (税込)

    %section.pickup-items__box
      %a{href:"/"}
        %figure.pickup-items__box-photo
          %img.lazyloaded{src: "assets/items/m42041098309_1.jpg", alt:"mer", width:"100%"}
        .pickup-items__box-body
          %h3.pickup-items__box-name
            商品の名前だよ商品の名前だよ
          .pickup-items__box-value.clearfix
            .pickup-items__box-price
              ¥ 3,000
            .pickup-items__box-likes
              %i.far.fa-heart
              %span
                1
            %p.pickup-items__box-tax
              (税込)

    %section.pickup-items__box
      %a{href:"/"}
        %figure.pickup-items__box-photo
          %img.lazyloaded{src: "assets/items/m55753962204_1.jpg", alt:"mer", width:"100%"}
        .pickup-items__box-body
          %h3.pickup-items__box-name
            商品の名前だよ商品の名前だよ商品の名前だよ商品の名前だよ
          .pickup-items__box-value.clearfix
            .pickup-items__box-price
              ¥ 3,000
            .pickup-items__box-likes
              %i.far.fa-heart
              %span
                1
            %p.pickup-items__box-tax
              (税込)

  .pickup-items__view-all
    %a{href:"/"}
      すべての商品を見る
