- if user_signed_in?
  = link_to new_item_path, class: "footer__sell-btn" do
    .footer__sell-btn-content
      出品
    = fa_icon "camera", class:'icon'

- else
  = link_to 'users/sign_in',class: "footer__sell-btn" do
    .footer__sell-btn-content
      出品
    = fa_icon "camera", class:'icon'

