= render "devise/shared/header"
%main.single-main
  %section
    .common-container
      .common-container-inner
        %h2.common-container-inner__head
          購入が完了しました
        .common-container-inner__content.sell-btn-content.btn-content
          %div
          = link_to 'トップページに戻る',root_path, class: "btn-red btn-half"
= render "devise/shared/footer"
