.input-default{
  height: 48px;
  padding: 10px 16px 8px;
  margin: 8px 0 0;
  border-radius: 4px;
  border: 1px solid $BORDER_GRAY;
  background: $WHITE;
  line-height: 1.5;
  font-size: 16px;
  width: 100%;
}

.input-area-default{
  display: block;
  width: 100%;
  margin: 8px 0 0;
  max-width: 100%;
  min-height: 104px;
  padding: 10px;
  border: 1px solid $BORDER_GRAY;
  background: $WHITE;
  font-size: 16px;
  line-height: 1.5;
}
.input-field{
  @extend .input-default;
}

.input-area{
  @extend .input-area-default;
}

.date_select{
  @extend .input-default;
  width: 50%;
}
.birth_select{
  width: 28%;
  &-wrapper{
    p{
      margin: 8px 0 0;
      line-height: 1.5;
      color: $FONT-GRAY;
    }
  }
}
