.form-wrapper
  %label
    = label_name
    %span.form-require
      必須
  %div
    .select-wrapper
      = f.select column, selects, {include_blank: '---'}, class: 'select-form'
      = fa_icon "angle-down", class:'icon'
