.btn-content{
  .btn-red{
    @include btn-default;
    @include btn-red;
  }
  .btn-gray{
    @include btn-default;
    @include btn-gray;
  }
  .btn-red-half{
    @include btn-default;
    @include btn-red-half;
  }
}

.footer__sell-btn {
    position: fixed;
    bottom: -14px;
    right: -14px;
    z-index: 1000;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: $MAIN_RED;
    color: $WHITE !important;
    text-align: center;
    &-content{
      text-align: center;
      margin: 14px 0 0;
    }
    .fa-camera{
      margin: 4px 0 0;
      font-size: 24px;
    }
}
