.footer-wrapper{
  padding: 40px 20px;
  background-color: #212121;
  color: #fff;
}

.footer-wrapper li{
  color: #333;
}

.footer-content{
  margin: 40px auto 0;
  &__head{
    color: #fff;
    font-size: 16px;
    text-align: center;
  }
  li:first-child{
    margin: 24px 0 0;
  }
  li{
    margin: 16px 0 0;
    text-align: center;
    a{
      color: #fff;
      font-size: 14px;
    }
    img{
      width: 22px;
      margin: 0 8px 0 0;
    }
  }
}

.footer__logo{
  @include margin();
}
.footer__copyright{
  @include margin($margin:8px 0 0);
}
