@import "../mixin/mixin.scss";

.header{
  display: block;
  position: relative;
  z-index: 1001;
  background: #fff;
  &-inner{
    width: 1020px;
    margin: 0 auto;
    padding: 8px 0 0;
    &__upper{
      @include clearfix;
      &-logo{
        float: left;
        a{
          display: block;
          color: #333;
          img {vertical-align: middle;}
        }
      }
      &-search-form{
        float: right;
        position: relative;
        width: calc(100% - (134px + 16px));
        input{
          width: 100%;
          height: 36px;
          padding: 9px 32px 9px 8px;
          background: #fafafa;
          transition: All;
        }
        .fa-search{
          position: absolute;
          top: 0;
          right: 0;
          width: 36px;
          line-height: 36px;
          cursor: pointer;
          text-align: center;
        }
      }
    }

    &__lower{
      @include clearfix;
      margin: 8px 0 0;
      &-nav{
        float: left;
      }
      &-left-content{
        // font-size: 16px;
        li:first-child{
          padding: 0;
        }
        li{
          @include header_list;
        }
        h2{
          font-weight: 400;
          font-size: 14px;
        }
        a{
          display: block;
          color: #333;
        }
        &-category{
          position: relative;
          height: 38px;
          line-height: 32px;
        }
      }
      &-right-content{
        float: right;
        li:first-child{
          padding: 0;
        }
        li{
          @include header_list;
          vertical-align: middle;
        }
        &-user{
          margin: 0;
          position: relative;
          height: 38px;
          line-height: 32px;
          figure{
            line-height: 0;
            display: inline-block;
            position: relative;
            width: 32px;
            height: 32px;
            margin: 0 auto;
            vertical-align: middle;
            div{
              overflow: hidden;
              border-radius: 50%;
              margin: 0;
            }
          }
          img{
            width: 32px;
            height: 32px;
          }
        }
        a{
          display: block;
          font-size: 14px;
          color: black;
        }
        div{
          display: inline-block;
          margin: 0 0 0 8px;
          font-size: 14px;
          vertical-align: middle;
        }

      }
    }
  }
}
.fa-bell{
  font-size: 17px;
}
.fa-check{
  font-size: 17px;
}
