@import "../mixin/mixin.scss";

//PC_ver
.header{
  display: none;
  position: relative;
  z-index: 1001;
  background: $WHITE;
  &-inner{
    width: 700px;
    margin: 0 auto;
    padding: 8px 0 0;
    &__upper{
      @include clearfix;
      &-logo{
        float: left;
        a{
          display: block;
          color: $BLACK;
          img {vertical-align: middle;}
        }
      }
      &-search-form{
        float: right;
        position: relative;
        width: calc(100% - (134px + 16px));
        input{
          width: 100%;
          height: 36px;
          padding: 9px 32px 9px 8px;
          background: $INPUT_BACKGROUND;
          transition: All;
        }
        .fa-search{
          position: absolute;
          top: 0;
          right: 0;
          width: 36px;
          line-height: 36px;
          cursor: pointer;
          text-align: center;
        }
      }
    }

    &__lower{
      @include clearfix;
      margin: 8px 0 0;
      &-nav{
        float: left;
      }
      &-left-content{
        // font-size: 16px;
        li:first-child{
          padding: 0;
        }
        li{
          @include header_list;
        }
        h2{
          font-weight: 400;
          font-size: 14px;
        }
        a{
          display: block;
          color: #333;
        }
        &-category{
          position: relative;
          height: 38px;
          line-height: 32px;
        }
      }
      &-right-content{
        float: right;
        li:first-child{
          padding: 0;
        }
        li{
          @include header_list;
          vertical-align: middle;
        }
        &-new{
          height: 32px;
          width: 78px;
          background-color: $MAIN_RED;
          border-radius: 4px;
          text-align: center;
          .new-registration{
            color: $WHITE;
            line-height: 32px;
          }
        }
        &-login{
          height: 32px;
          width: 106px;
          background-color: $WHITE;
          border: 1px solid $LINK_BLUE;
          border-radius: 4px;
          text-align: center;
          .login-box{
            color: $LINK_BLUE;
            line-height: 32px;
          }
        }
        &-user{
          margin: 0;
          position: relative;
          height: 38px;
          line-height: 32px;
          figure{
            @include margin(inline-block, 0 auto);
            line-height: 0;
            position: relative;
            width: 32px;
            height: 32px;
            vertical-align: middle;
            div{
              overflow: hidden;
              border-radius: 50%;
              margin: 0;
            }
          }
          img{
            width: 32px;
            height: 32px;
          }
        }
        a{
          display: block;
          @include font(14px);
        }
        div{
          @include margin(inline-block, 0 0 0 8px);
          font-size: 14px;
          vertical-align: middle;
        }
      }
    }
  }
}
.fa-bell{
  font-size: 17px;
}
.fa-check{
  font-size: 17px;
}


//Smartphone_ver
.sp-header{
  height: 140px;
  position: relative;
  z-index: 1001;
  background: $WHITE;
  &-inner{
    position: relative;
    padding: 6px 10px 0;
    @include clearfix;

    &__logo{
      float: left;
      opacity: 1;
      display: inline-block;
      a{
        display: block;
        color: $BLACK;
        img {
          vertical-align: middle;
        }
      }
    }
    &__user{
      float: right;
      margin: 4px 0 0;
      &-icon{
        float: right;
        display: block;
        color: $BLACK;
        font-size: 0;
        opacity: 1;
        figure{
          @include margin(inline-block, 0 auto);
          position: relative;
          width: 32px;
          height: 32px;
          vertical-align: middle;
          div{
            height: 32px;
            overflow: hidden;
            border-radius: 50%;
            img{
              width: 32px;
              height: 32px;
              vertical-align: middle;
            }
          }
        }
      }
      &-new{
        margin-right: 7px;
        float: right;
        background-color: $MAIN_RED;
        padding: 2.5px 10px;
        line-height: 30px;
        border-radius: 4px;
        text-align: center;
        height: 100%;
        span {
          color: $WHITE;
        }
      }
      &-login{

        float: right;
        border: 1px solid $LINK_BLUE;
        background-color: $WHITE;
        color: $LINK_BLUE;
        padding: 1.5px 10px;
        line-height: 30px;
        border-radius: 4px;
        text-align: center;
      }
    }
  &__search{
    height: 44px;
    position: relative;
    margin-top: 8px;
    input{
      background: $SP_GRAY;
      border: 1px solid transparent;
      border-radius: 2px;
      height: 38px;
      width: calc(100% - 20px);
      margin: 0 10px;
      padding: 0 10px;
      margin-top: 2px;
    }
    .fa-search{
      position: absolute;
      top: 2px;
      right: 10px;
      width: 36px;
      line-height: 38px;
      text-align: center;
    }
  }

    &__lower{
      &-nav{
        white-space: nowrap;
        position: relative;
        overflow: hidden;
        height: 44px;
        line-height: 42px;

        a{
          @include margin(inline-block,0,center);
          position: relative;
          width: 50%;
          color: $BLACK;
        }
        a:first-child::after{
          background-color: $SP_GRAY;
          content: "";
          display: block;
          height: 34px;
          position: absolute;
          top: 4px;
          right: 0;
          width: 1px;
          border-style: solid;
          border-width: 0;
        }
      }
    }
  }
}
