.item-box-container{
  padding: 24px 40px 60px 40px;
  background-color: $WHITE;
  margin: 40px auto 0;
  width: 700px;
  box-sizing: border-box;
  .item-name{
    font-size: 24px;
    text-align: center;
    line-height: 1.4;
    font-weight: 600;
  }
  .item-main-box.clearfix{
    margin: 16px 0 0;
    display: flex;
    .item-img-box{
      max-width: 300px;
      min-width: 300px;
      min-height: 375px;
      float: left;
      overflow: hidden;
      margin: 0 auto;
      .item-img-box-main{
          float: left;
          max-width: 300px;
      }
    }
    .item-info{
      max-width: 300px;
      min-width: 300px;
      float: right;
      height: 375px;
      margin: 0 auto;
      border: solid 1px $THIN_GRAY;
      border-collapse: collapse;
      tbody{
        text-align: left;
        tr{
          th{
            background-color: $THIN_GRAY;
            width: 45%;
            vertical-align:middle;
            padding: 8px;
            font-size: 16px;
            border: 1px solid $THIN_GRAY;
          }
          td{
            padding: 8px;
            width: 55%;
            background-color: $WHITE;
            border: solid 1px $THIN_GRAY;
            vertical-align: middle;
            font-size: 13px;
            a:hover{
              text-decoration: underline;
            }
            div{
              padding: 0;
              margin: 0;
              .item-user-rate{
                display: inline-block;
                margin: 8px 0 0 10px;
                height: 30px;
                i.good::before{
                  font-family: "Font Awesome 5 Free";
                  content: '\f118';
                  color: $MAIN_RED;
                  font-size: 18px;
                }
                .count{
                  float: right;
                  font-size: 14px;
                  line-height: 1.5;
                  padding-left: 3px;
                }
                i.normal::before{
                  font-family: "Font Awesome 5 Free";
                  content: '\f11a';
                  color: $YELLOW;
                  font-size: 18px;
                }
                i.bad::before{
                  font-family: "Font Awesome 5 Free";
                  content: '\f119';
                  color: $LINK_BLUE;
                  font-size: 18px;
                }
              }
              .item-user-rate:first-child{
                margin: 8px 0 0 0;
              }
            }
            .parent{
            }
            .child-box{
              i.right::before{
                font-family: "Font Awesome 5 Free";
                content: '\f054';
                color: $LINK_BLUE;
                font-weight: 600;
                display: inline-block;
                float: left;
                padding-right: 3px;
              }
              .child{
                display:inline-block;
              }
              .second-child{
                display: inline-block;
              }
            }
          }
        }
      }
    }
  }
  .price-box{
    text-align: center;
    margin: 24px 0 0 0;
    line-height: 1.5;
    .price{
      font-size: 50px;
      font-weight: 600;
    }
    .tax{
      font-size: 10px;
      padding: 0 0 0 12px;
    }
    .sipping-fee{
      font-size: 16px;
      font-weight: normal;
    }
  }
  .buy-btn{
    background-color: $MAIN_RED;
    text-align: center;
    font-size: 24px;
    color: $WHITE;
    height: 60px;
    margin-top: 10px;
    line-height: 60px;
    font-weight: bold;
      a{
      color: $WHITE;
      }
  }
  .item-detail{
    padding: 32px 0 0;
    line-height: 1.5;
    font-size: 18px;
  }
  .item-btn{
    margin: 20px 0 0 0;
    &-left{
      float: left;
      .like-btn{
        display: inline-block;
        background-color: $THIN_GRAY;
        padding: 8px 16px;
        border: 1px solid $THIN_GRAY;
        border-radius: 40px;
        i.like::before{
          font-family: "Font Awesome 5 Free";
          content: '\f004';
          color: $GRAY;
          display: inline-block;
          padding-right: 5px;
        }
        .text{
          font-size: 13px;
          display: inline-block;
        }
        .like-count{
          margin: 0 0 0 5px;
          display: inline-block;
        }
      }
      .report{
        display: inline-block;
        background-color: $THIN_GRAY;
        padding: 8px 16px;
        border: 1px solid $THIN_GRAY;
        border-radius: 40px;
        font-size: 14px;
        margin-left: 10px;
        i.flag::before{
          font-family: "Font Awesome 5 Free";
          content: '\f024';
          color: $BLACK;
          display: inline-block;
        }
        .text{
          color: $BLACK;
          display: inline-block;
        }
      }
    }
    &-right{
      float: right;
      margin-top: 8px;
      font-size: 14px;
      color: $GRAY;
      i.lock::before{
        font-family: "Font Awesome 5 Free";
        content: '\f023';
        color: $LINK_BLUE;
        font-weight: 600;
        display: inline-block;
        padding-right: 5px;
      }
      .text{
        display: inline-block;
        color: $LINK_BLUE;
      }
    }
  }
}
.item-message{
  width: 700px;
  margin: 5px auto 0;
  padding: 24px;
  background-color: $WHITE;
  .messages{
    margin-top: 20px;
  }
  .cation{
    background-color: $THIN_BEIGE;
    line-height: 1.5;
    padding: 8px;
    font-size: 14px;
    width: 100%;
  }
  .comment{
    margin-top: 8px;
    padding: 10px;
    .text-input{
      background-color: $WHITE;
      border: 1px solid $BORDER_GRAY;
      min-height: 104px;
      line-height: 1.5;
      width: 100%;
    }
    .actions{
      text-align: center;
      margin: 8px 0 0 0;
      .btn-gray{
        text-align: center;
        width: 100%;
        background-color: $GRAY;
        font-size: 14px;
        line-height: 48px;
        color: $WHITE;
      }
    }
  }
}
.nav-item-link{
  width: 700px;
  margin: 24px auto 0;
  .nav-prev{
    float: left;
    width: 45%;
    .prev{
      color: $LINK_BLUE;
      text-decoration: none;
      display: inline-block;
      position: relative;
      i.prev-icon::before{
        font-family: "Font Awesome 5 Free";
        content: '\f054';
        color: $GRAY;
        font-weight: 600;
        display: inline-block;
        transform: scale(-1,1);
      }
      .prev-icon{
        position: absolute;
        left: 0;
        top: 33%;
      }
      .text{
        display: inline-block;
        padding-left: 15px;
      }
    }
  }
  .nav-next{
    float: right;
    width: 45%;
    text-align: right;
    .next{
      color: $LINK_BLUE;
      text-decoration: none;
      i.prev-icon-right::before{
        font-family: "Font Awesome 5 Free";
        content: '\f054';
        color: $GRAY;
        font-weight: 600;
        display: inline-block;
      }
      .text{
        display: inline-block;
        padding-left: 15px;
      }
    }
  }
}
.social-media-box{
  width: 700px;
  margin: 20px auto 32px;
  padding: 32px 0 24px;
  background-color: $WHITE;
  .social-media-icons{
    margin: 16px 0 0;
    text-align: center;
    li{
      display: inline-block;
      margin: 0 8px 8px 0;
      vertical-align: middle;
      text-align: center;
      i{
        display: block;
        width: 44px;
        height: 44px;
        border-radius: 4px;
        line-height: 44px;
        text-align: center;
        font-size: 26px;
      }
      i.facebook-icon{
        background-color: $FACEBOOK_BACKGROUND;
      }
      i.facebook-icon::before{
        font-family: "Font Awesome\ 5 Brands";
        content: '\f082';
        color: $WHITE;
      }
      i.twitter-icon{
        background-color: $TWITTER_BACKGROUND;
      }
      i.twitter-icon::before{
        font-family: "Font Awesome\ 5 Brands";
        content: '\f081';
        color: $WHITE;
      }
      i.line-icon{
        background-color: $LINE_BACKGROUND;
      }
      i.line-icon::before{
        font-family: "Font Awesome\ 5 Brands";
        content: '\f3c0';
        color: $WHITE;
      }
      i.pinterest-icon{
        background-color: $PINTEREST_BACKGROUND;
      }
      i.pinterest-icon::before{
        font-family: "Font Awesome\ 5 Brands";
        content: '\f0d2';
        color: $WHITE;
      }
    }
  }
}
.items-user-profile{
  margin: 24px auto 8px;
  width: 700px;
  .items-box-container{
    .item-box-head{
      font-size: 22px;
      line-height: 1.4;
      margin-bottom: 8px;
    }
  }
}
.items-box-content{
  margin: 24px auto 8px;
  width: 700px;
  .items-box{
    background-color: $MAIN_BACKGROUND;
    margin: 0 0 20px 0;
    float: left;
    width: 230px;
    .items-box-photo{
      background-color: $MAIN_BACKGROUND;
      width: 200px;
      height: 200px;
      margin:0 30px 0 30px;
      overflow: hidden;
      .lazyload {
        width: 200px;
        height: 100%;
        top: 50%;
      }
    }
    .items-box-body{
      height: 90px;
      padding: 10px;
      margin: 0 0 0 30px;
      background-color: $WHITE;
      .item-name{
        color: $BLACK;
        overflow: hidden;
        position: relative;
        font-weight: 400;
        height: 2;
        line-height: 1.5;
      }
      .item-box-num{
        margin: 20px 0 0 0;
        .item-box-price{
          color: $BLACK;
          font-size: 20px;
          float: left;
          font-weight: 600;
        }
        .item-box-likes{
          float: right;
          i.like.font-2::before{
            font-family: "Font Awesome 5 Free";
            content: '\f004';
            color: $GRAY;
            display: inline-block;
            padding-right: 5px;
            float: right;
          }
          .like-count{
            color: $BLACK;
            display: inline-block;
            float: right;
          }
        }
        .item-box-sipping-fee{
          font-size: 10px;
          clear: both;
          color: $BLACK;
          margin: 0 auto;
        }
      }
    }
  }
}

.in-category{
  margin: 24px 0 30px 0;
}
.clearfix::after{
  content:"";
  display: block;
  clear: both;
}
