.pickup-items__box{
  margin: 0 0 20px 20px;
  width: calc(50% - 30px);
  position: relative;
  float: left;
  width: 48%;
  margin: 0 0 4% 4%;
  background: #fff;
  &:nth-child(odd){
    margin: 0 0 4%;
  }
  a{
    display: block;
    color: $FONT-COLOR-BLACK;
  }
  figure{
    width: 100%;
  }
  &-photo{
    @include items-figure;
    img{
      @include items-img;
    }
  }
  &-body{
    padding: 16px;
    height: 110px;
  }
  &-name{
    @include items-box-name;
    @include font();
    &:after{
      @include items-box-name-after-semitransparent;
    }
  }
  &-value{
    margin: 8px 0 0;
    @include clearfix;
  }
  &-price{
    float: left;
    @include font(20px,600)
  }
  &-likes{
    float: right;
    @include font();
    i{
      margin: 0 4px 0 0;
      vertical-align: middle;
    }
    .fa-heart{
      color: #ccc;
    }
    span{
      @include margin(inline-block, 1px 0 0);
      vertical-align: middle;
    }
  }
  &-tax{
    @include font(10px);
    clear: both;
  }
}
