.mypage-tab-container{
  background: $WHITE;
  min-height: 400px;
  margin-bottom: 40px;
  .tab_list {
    @include tab-lists;
  }

  .tab_list:hover {
    opacity: 0.75;
  }
/*ラジオボタンを全て消す*/
  input[name="tab_list"] {
    display: none;
  }

  figure{
    position: relative;
    overflow: hidden;
    float: left;
    width: 48px;
    height: 48px;
  }

/*選択されているタブのコンテンツのみを表示*/
  #out:checked ~ #out_content,
  #trade:checked ~ #trade_content,
  #sold:checked ~ #sold_content{
    display: block;
  }
/*選択されているタブのスタイルを変える*/
  .tabs input:checked + .tab_list {
    @include tabs-checked;
  }
}
