.pickup-items__wrapper{
  padding: 20px 0 0 0;
  background: $MAIN_BACKGROUND;
  &-head{
    font-size: 22px;
    text-align: center;
  }
}

//partial/pickup-itemsのscss
.pickup-items__container{
  @include clearfix;
  &-head{
    font-size: 18px;
    margin: 26px 11px;
  }
  &-head{
    text-align: center;
    a{
      color: $LINK_BLUE;
    }
  }
}
.pickup-items__content{
  @include clearfix;
  width: 92%;
  margin: 0 auto;
}

.pickup-items__box{
  margin: 0 0 20px 20px;
  width: calc(50% - 30px);
  position: relative;
  float: left;
  width: 48%;
  margin: 0 0 4% 4%;
  background: #fff;
  &:nth-child(odd){
    margin: 0 0 4%;
  }
  a{
    display: block;
    color: $FONT-COLOR-BLACK;
  }
  figure{
    width: 100%;
  }
  &-photo{
    @include items-figure;
    img{
      @include items-img;
    }
  }
  &-body{
    padding: 16px;
    height: 110px;
  }
  &-name{
    @include items-box-name;
    @include font();
    &:after{
      @include items-box-name-after-semitransparent;
    }
  }
  &-value{
    margin: 8px 0 0;
    @include clearfix;
  }
  &-price{
    float: left;
    @include font(20px,600)
  }
  &-likes{
    float: right;
    @include font();
    i{
      margin: 0 4px 0 0;
      vertical-align: middle;
    }
    .fa-heart{
      color: #ccc;
    }
    span{
      display: inline-block;
      margin:1px 0 0;
      vertical-align: middle;
    }
  }
  &-tax{
    @include font(10px);
    clear: both;
  }
}
.pickup-items__view-all{
  @include font(14px,$color: $LINK_BLUE);
  padding: 0 0 30px;
  text-align: right;
  width: 91%;
}
