.footer__sell-btn {
    position: fixed;
    bottom: -14px;
    right: -14px;
    z-index: 1000;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #ea352d;
    color: #fff !important;
    text-align: center;
    & div{
      margin: 14px 0 0;
    }
    .fa-camera{
      margin: 4px 0 0;
      font-size: 24px;
    }
}
