.mypage-main__tab-container{
    float: right;
    width: 700px;
    padding: 0;
    display: block;
    height: 100%;
}

.tabs {
  background-color: $WHITE;
  width: 700px;
  margin: 0 auto;
}

.tab_content {
  display: none;
  clear: both;
  overflow: hidden;
  min-height: 236px;
}

.tab_content_description{
  position: relative;
}

.tab_content_link{
  border-bottom: 1px solid $SP_GRAY;
  display: block;
  padding: 16px;
  color: $BLACK;
  width:700px;
  min-height: 80px;
  padding: 16px;
}

.tab_content_image{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
.tab_content_body{
  margin: 0 40px 0 68px;
  .tab_content_text{
    overflow: hidden;
    display: block;
    max-height: 4.4em;
    text-overflow: ellipsis;
    line-height: 1.5;
  }
}

.tab_content_time{
  display: inline-block;
  margin: 5px 40px 0 20px;
  color: $GRAY;
  .far.fa-clock{
    margin: 0 10px 0 0;
    font-size: 16px;
    vertical-align: middle;
  }
  .tab_content_day{
    vertical-align: middle;
  }
}
.fa-angle-right{
  position: absolute;
  top: 45%;
  right: 30px;
}





