.mypage-tab-container-production{
  background: $WHITE;
  min-height: 400px;
  margin-bottom: 40px;
  .mypage-tab-head{
		height: 70px;
		background-color: $INPUT_BACKGROUND;
		.mypage-tab-title{
			padding: 0 16px;
    	font-size: 14px;
    	line-height: 70px;
		}
	}
	.tab_production {
    @include tabs
	}
	.tab_production:hover {
		opacity: 0.75;
	}
/*ラジオボタンを全て消す*/
	input[name="tab_production"] {
		display: none;
	}
/*タブ切り替えの中身のスタイル*/
	figure{
		position: relative;
    overflow: hidden;
    float: left;
    width: 48px;
    height: 48px;
  }

/*選択されているタブのコンテンツのみを表示*/
	#trading:checked ~ #trading_content,
	#finished:checked ~ #finished_content{
		display: block;
	}
/*選択されているタブのスタイルを変える*/
	.tabs input:checked + .tab_production {
    @include tabs-checked;
	}
}


