%section.items-box
  %section.items-box.show-items
    = link_to item_path(item.id), class: 'item-link' do
      %figure.items-box-photo
        = image_tag (item.images.first.image.url), class: "item-image"
    .products
      %h3.products__name
        = item.name
      .products__price
        .products__price--fig
          ¥
          = item.price
        .products__price--likes
          %i.icon-like-border
            %i.far.fa-heart
          %span.num 44
        %p.products__price--tax (税込)
