@import "./reset";
@import "./style";
@import "./devisepage";
@import "./modules/header.scss";
@import "./modules/footer.scss";
@import "./responsive/footer.scss";
@import "./modules/sell_btn.scss";
@import "./responsive/sell_btn.scss";

.content{
  background-image: url("/assets/top-banner-kusanagi.jpg");
  height: 390px;
}
