*{
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  text-align: left;
  line-height: 1;
  box-sizing: border-box;
  -webkit-appearance: none;
}

body{
  font-size: 14px;
  background-color: #f5f5f5;
}
a:-webkit-any-link {
    // color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

h2{
  font-size: 22px;
  line-height: 1.4;
  font-weight: bold;
}

h3{
  font-weight: bold;
}

nav ul{
  list-style: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

a{
  color: $LINK_BLUE;
  text-decoration: none !important;
}

img{
  vertical-align: middle;
}
.lazyloaded{
  opacity: 1;
  transition: opacity .3s;
}



input[type='search'] {
    -webkit-appearance: none;
}

input{
  border-radius: 4px;
  border: 1px solid #ccc;
  line-height: 1.5;
  font-size: 16px;
}


div{
  display: block;
}

i{
    display: inline-block;
    font-family: 'icon-font';
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.single-main{
  section{
    width: 700px;
    margin: 0 auto;
  }
}
