@mixin clearfix {
  &::after{
    content: "";
    display: block;
    clear: both;
  }
}

@mixin header_list{
  position: relative;
  display: inline-block;
  padding: 0 0 0 16px;
}

@mixin items-figure{
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 0;
  padding: 0 0 100%;
}

@mixin items-img{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

@mixin items-box-name{
  overflow: hidden;
  position: relative;
  font-weight: 400;
  height: 3em;
  line-height: 1.5;
  word-break: break-word;
  white-space: normal;
}

@mixin font($font-size: 16px, $font-weight: 400, $color: #333){
  font-size: $font-size;
  font-weight: $font-weight;
  color: $color;
}

@mixin margin($display: block, $margin: 40px 0 0, $text-align: center){
  display: $display;
  margin: $margin;
  text-align: $text-align;
}

@mixin items-box-name-after-semitransparent{
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 1.5em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff 72%);
}
